h1 {
  color: red;
  text-align: center;
  text-decoration: underline;
}
ul {
  color: green;
  text-align: left;
}
img {
  height: 325px;
  width: 20%;
}
body {
  background-color: green;
}
p {
  border-style: groove;
  border-color: purple;
  border-width: 5px;
